body {
	background: #82807b;
	margin: 0;
}

.clearfix:after {
	display: table;
	clear: both;
	content: "";
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    z-index: 9;
}

nav ul{
	float: right; 
}
nav a{
	color:white;
	text-decoration: none;
	font-weight: bold;
	font-family: monospace;
}
nav li{
	list-style: none;
	display: inline-block;
	padding-left: 30px;
}




.name {
	float: left;
	color: #FF0000;
	font-size: 16px;

}

.stryker{
	width: 100%;
	height: 600px;
	background: url("../img/IMG_0073.JPG") bottom center;
	background-size: cover;
	-webkit-filter: grayscale(0.8);
	filter: grayscale(0.8);
	background-attachment: fixed;
}
	
	

.banner-text {
	text-align: center;
	padding-top: 250px;
	color: #fff;
	font-size: 40px;
}

.banner-text {
	text-align: center;
	padding-top: 250px;
	color: #fff;
	font-size: 40px;
}
.main-text {
	background: #82807b;
	padding: 20px;
}

.text {
    color: white;
    padding: 20px;
}

.About {
	color: white;
	background: #82807b;
	padding: 20px;
}

.Life {
	color: white;
	padding: 20px;
}

.CopyRight {
	color: white;
	padding: 20px;
}

